<!DOCTYPE html>
<html>
<head>
    <title>AI Research Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="app">

    <div class="sidebar">
        <h2 class="logo">AI Research</h2>
        <a href="/"><button>Home</button></a>
        <a href="/study"><button>Study</button></a>
        <a href="/papers"><button>Papers</button></a>
    </div>

    <div class="main">
        <h1>AI Research Assistant</h1>

        <p class="desc">
            Upload research papers, understand them easily, and interact with AI.
        </p>
    </div>

</div>

</body>
</html>